.radio {
  --radio-background: var(--wds-color-background-default-default);
  --radio-border: var(--wds-color-border-default-default);
  --radio-icon: var(--wds-color-icon-brand-on-brand);
  --radio-border-radius: var(--wds-size-space-400);
  background: var(--radio-background);
  box-shadow: inset 0 0 0 var(--wds-size-stroke-border) var(--radio-border);
  border-radius: var(--radio-border-radius);
  height: var(--wds-size-space-400);
  position: relative;
  width: var(--wds-size-space-400);

  > .radio-check {
    background: var(--radio-icon);
    border-radius: var(--wds-size-space-200);
    display: none;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: var(--wds-size-space-200);
    width: var(--wds-size-space-200);
  }
}

.radio-field[data-selected] .radio {
  --radio-background: var(--wds-color-background-brand-default);
  --radio-border: var(--radio-background);
  > .radio-check {
    display: block;
  }
}

.radio-field[data-focus-visible] .radio::before {
  --offset: calc(var(--wds-size-stroke-border) * 2);
  content: "";
  border-radius: calc(var(--radio-border-radius) + var(--offset));
  bottom: calc(-1 * var(--offset));
  box-shadow: 0 0 0 var(--global-focus-ring-size) var(--global-focus-ring-color);
  left: calc(-1 * var(--offset));
  position: absolute;
  right: calc(-1 * var(--offset));
  top: calc(-1 * var(--offset));
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: var(--wds-size-space-200);
}

.radio-field {
  --radio-field-label-color: var(--wds-color-text-default-default);
  --radio-field-description-color: var(--wds-color-text-default-secondary);

  align-items: center;
  column-gap: var(--wds-size-space-400);
  display: grid;
  grid-template-columns: var(--wds-size-space-300) 1fr;
  row-gap: var(--wds-size-space-100);
  width: 100%;

  > .radio {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  > .label {
    color: var(--radio-field-label-color);
    grid-row-start: 1;
    grid-column-start: 2;
  }

  > .description {
    color: var(--radio-field-description-color);
    grid-row-start: 2;
    grid-column-start: 2;
  }
}

.radio-field[data-disabled] > .label {
  --radio-field-label-color: var(--wds-color-text-disabled-default);
}

.radio-field[data-disabled] > .description {
  --radio-field-description-color: var(--wds-color-text-disabled-default);
}

.radio-field[data-disabled] {
  & .radio,
  &[data-selected] .radio {
    --radio-background: var(--wds-color-background-disabled-default);
    --radio-border: var(--wds-color-border-disabled-default);
    --radio-icon: var(--wds-color-icon-disabled-on-disabled);
  }
}
