.select-container {
  width: 100%;
}
.select {
  --select-background-color: var(--wds-color-background-default-default);
  --select-text-color: var(--wds-color-text-default-default);
  --select-border-color: var(--wds-color-border-default-default);
  align-items: center;
  background-color: var(--select-background-color);
  box-shadow: inset 0 0 0 var(--wds-size-stroke-border)
    var(--select-border-color);
  border-radius: var(--wds-size-radius-200);
  color: var(--select-text-color);
  display: flex;
  gap: var(--wds-size-space-200);
  padding: calc(var(--wds-size-space-300) - var(--wds-size-stroke-border) * 2)
    var(--wds-size-space-300)
    calc(var(--wds-size-space-300) - var(--wds-size-stroke-border) * 2)
    var(--wds-size-space-400);
  position: relative;
  justify-content: space-between;
  width: 100%;

  > .icon {
    --icon-color: var(--wds-color-icon-default-default);
  }

  > .select-value {
    align-items: center;
    color: var(--select-text-color);
    display: flex;
    gap: var(--wds-size-space-200);

    &[data-placeholder] {
      --select-text-color: var(--wds-color-text-default-tertiary);
    }

    .select-item-check {
      display: none;
    }
  }

  &[data-disabled] {
    --select-background-color: var(--wds-color-background-disabled-default);
    --select-text-color: var(--wds-color-text-disabled-default);
    --select-border-color: var(--wds-color-border-disabled-default);
    > .icon {
      --icon-color: var(--wds-color-icon-disabled-on-disabled);
    }
  }

  &:has(~ .error-message):not([data-disabled]),
  &[data-invalid]:not([data-disabled]) {
    --select-border-color: var(--wds-color-border-danger-default);
  }

  &[data-focus-visible] {
    --select-border-color: var(--wds-color-border-brand-secondary);
  }
}

.select-item {
  gap: var(--wds-size-space-200);
  min-width: calc(var(--wds-size-space-400) * 10);
  padding-left: var(--wds-size-space-100);

  .select-item-check {
    opacity: 0;
  }
  &[data-selected] .select-item-check {
    opacity: 1;
  }
}
