.input {
  --input-background-color: var(--wds-color-background-default-default);
  --input-text-color: var(--wds-color-text-default-default);
  --input-border-color: var(--wds-color-border-default-default);
  --input-placeholder-color: var(--wds-color-text-default-tertiary);
  align-items: center;
  background-color: var(--input-background-color);
  box-shadow: inset 0 0 0 var(--wds-size-stroke-border)
    var(--input-border-color);
  border-radius: var(--wds-size-radius-200);
  color: var(--input-text-color);
  display: flex;
  line-height: 1;
  padding: calc(var(--wds-size-space-300) - var(--wds-size-stroke-border) * 2)
    var(--wds-size-space-400);
  position: relative;
  width: 100%;

  &::placeholder {
    color: var(--input-placeholder-color);
  }

  &[data-disabled] {
    --input-background-color: var(--wds-color-background-disabled-default);
    --input-text-color: var(--wds-color-text-disabled-default);
    --input-border-color: var(--wds-color-border-disabled-default);
  }

  &[data-invalid]:not([data-disabled]) {
    --input-border-color: var(--wds-color-border-danger-default);
  }

  &[data-focus-visible] {
    --input-border-color: var(--wds-color-border-brand-secondary);
  }
}
