.form-box {
  align-items: flex-start;
  background: var(--wds-color-bg-default-default);
  border: var(--wds-size-stroke-border) solid
    var(--wds-color-border-default-default);
  border-radius: var(--wds-size-radius-200);
  display: flex;
  flex-direction: column;
  gap: var(--wds-size-space-600);
  padding: var(--wds-size-space-600);

  > * {
    width: 100%;
  }
}
