.slider-field {
  --slider-thumb-background-color: var(--wds-color-background-brand-default);
  --slider-thumb-border-color: var(--wds-color-background-brand-default);
  --slider-track-background-color: var(--wds-color-background-brand-secondary);
  font: var(--wds-font-body-base);

  &[data-disabled] {
    --slider-thumb-background-color: var(
      --wds-color-background-disabled-default
    );
    --slider-thumb-border-color: var(--wds-color-border-disabled-default);
    --slider-track-background-color: var(
      --wds-color-background-disabled-default
    );
  }

  /* TODO: only supporting horizontal right now. these are the horizontal styles. */
  /* &[data-orientation="horizontal"] { */
  width: 100%;
  .slider {
    height: var(--wds-size-space-400);
    width: 100%;

    &:before {
      height: var(--wds-size-space-200);
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
    }
  }
  .slider-thumb {
    top: 50%;
  }
  /* } */
}

.slider-output {
  align-self: flex-end;
  justify-self: flex-end;
  font: var(--wds-font-body-small);
  grid-area: field-extra;
  margin-bottom: var(--wds-size-space-200);
}

.slider-thumb {
  --border-radius: var(--wds-size-radius-full);
  background: var(--slider-thumb-background-color);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 var(--wds-size-stroke-border)
    var(--slider-thumb-border-color);
  height: var(--wds-size-space-400);
  width: var(--wds-size-space-400);
  forced-color-adjust: none;

  &[data-focus-visible] {
    outline: none;
    --offset: calc(var(--wds-size-stroke-border) * 2);
    &::before {
      content: "";
      border-radius: calc(var(--border-radius) + var(--offset));
      bottom: calc(-1 * var(--offset));
      box-shadow: 0 0 0 var(--global-focus-ring-size)
        var(--global-focus-ring-color);
      left: calc(-1 * var(--offset));
      position: absolute;
      right: calc(-1 * var(--offset));
      top: calc(-1 * var(--offset));
    }
  }
}

.slider {
  position: relative;

  &::before {
    content: "";
    background: var(--slider-track-background-color);
    border-radius: var(--wds-size-radius-full);
    display: block;
    position: absolute;
  }
}
