.menu {
  --menu-anchor-gap: var(--wds-size-space-300);
  --menu-anchor-offset: var(--wds-size-space-300);
  --menu-anchor-padding: var(--wds-size-space-300);

  background: var(--wds-color-background-default-default);
  border-radius: var(--wds-size-radius-200);
  box-shadow:
    inset 0 0 0 var(--wds-size-stroke-border)
      var(--wds-color-border-default-default),
    var(--wds-effects-shadows-drop-shadow-400);
  outline: none;
  overflow-y: auto;
  padding: var(--wds-size-space-200);
}

.menu-header {
  padding: var(--wds-size-space-200) var(--wds-size-space-400)
    var(--wds-size-space-100);
}
.menu-section {
  width: 100%;
}
.menu-heading {
  color: var(--wds-color-text-default-secondary);
  font: var(--wds-font-body-strong);
  padding: var(--wds-size-space-200) var(--wds-size-space-400)
    var(--wds-size-space-100);
}
.menu-separator {
  background-color: var(--wds-color-border-default-default);
  display: block;
  height: var(--wds-size-stroke-border);
  margin: var(--wds-size-space-100) var(--wds-size-space-400);
}

.menu-item {
  --menu-label-column-start: 1;
  --menu-label-column-span-a: 2;
  --menu-label-column-span-b: 1;
  --menu-description-column-start: 1;
  --menu-description-column-span: 3;
  --menu-item-background-color: transparent;
  --menu-item-icon-color: var(--wds-color-icon-default-default);
  --menu-item-label-color: var(--wds-color-text-default-default);
  --menu-item-description-color: var(--wds-color-text-default-secondary);
  background-color: var(--menu-item-background-color);
  border-radius: var(--wds-size-radius-200);
  color: var(--menu-item-label-color);
  column-gap: var(--wds-size-space-400);
  display: grid;
  font: var(--wds-font-body-base);
  grid-template-columns: 1fr auto;

  padding: var(--wds-size-space-300) var(--wds-size-space-400);
  row-gap: var(--wds-size-space-100);
  width: 100%;

  &[data-focused] {
    outline: none;
  }

  &[data-focused],
  &[data-hovered]:not([data-disabled]) {
    --menu-item-icon-color: var(--wds-color-icon-brand-on-brand);
    --menu-item-label-color: var(--wds-color-text-brand-on-brand);
    --menu-item-description-color: var(--wds-color-text-brand-on-brand);
    --menu-item-background-color: var(--wds-color-background-brand-default);
  }

  &[data-disabled] {
    --menu-item-icon-color: var(--wds-color-icon-disabled-default);
    --menu-item-label-color: var(--wds-color-text-disabled-default);
    --menu-item-description-color: var(--wds-color-text-disabled-default);
  }

  &:has(> .keyboard) {
    --menu-label-column-span-b: 0;
  }

  &:has(> .icon) {
    --menu-label-column-start: 2;
    --menu-label-column-span-a: 1;
    --menu-description-column-start: 2;
    --menu-description-column-span: 2;
  }

  > .icon {
    --icon-color: var(--menu-item-icon-color);
  }
}

.menu-label {
  color: var(--menu-item-label-color);
  grid-column: var(--menu-label-column-start) / span
    calc(var(--menu-label-column-span-a) + var(--menu-label-column-span-b));
  grid-row-start: 1;
}

.menu-description {
  color: var(--menu-item-description-color);
  grid-column: var(--menu-description-column-start) / span
    var(--menu-description-column-span);
  grid-row-start: 2;
}

.keyboard {
  align-items: center;
  color: var(--menu-item-description-color);
  display: flex;
  gap: var(--wds-size-space-100);
  text-transform: capitalize;
  > kbd {
    display: flex;
    font: var(--wds-font-body-base);
    text-align: center;
  }
}
