.navigation {
  display: flex;
  align-items: center;
  gap: var(--wds-size-space-200);
}

.navigation-direction-row {
  flex-direction: row;
  > .navigation-button {
    height: 100%;
    justify-content: center;
  }
}
.navigation-direction-column {
  flex-direction: column;

  > .navigation-button {
    width: 100%;
  }
}

.navigation-pill {
  --border-radius: var(--wds-size-radius-200);
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--wds-color-text-default-default);
  cursor: pointer;
  padding: var(--wds-size-space-200);
  position: relative;

  &[data-hovered] {
    background: var(--wds-color-background-default-default-hover);
  }

  &[data-selected] {
    color: var(--wds-color-text-brand-on-brand-secondary);
    background: var(--wds-color-background-brand-tertiary);
  }

  &[data-focus-visible] {
    outline: none;
    --offset: calc(var(--wds-size-stroke-border) * 2);
    &::before {
      content: "";
      border-radius: calc(var(--border-radius) + var(--offset));
      bottom: calc(-1 * var(--offset));
      box-shadow: 0 0 0 var(--global-focus-ring-size)
        var(--global-focus-ring-color);
      left: calc(-1 * var(--offset));
      position: absolute;
      right: calc(-1 * var(--offset));
      top: calc(-1 * var(--offset));
    }
  }
}

.navigation-button {
  --border-radius: 0px;
  align-items: center;
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--wds-color-text-default-secondary);
  cursor: pointer;
  display: flex;
  gap: var(--wds-size-space-200);
  line-height: 1;
  padding: var(--wds-size-space-200);
  position: relative;

  > .icon {
    --icon-color: var(--wds-color-icon-default-secondary);
  }

  &[data-selected] {
    color: var(--wds-color-text-brand-default);

    > .icon {
      --icon-color: var(--wds-color-icon-brand-default);
    }
  }

  &[data-hovered] {
    background: var(--wds-color-background-default-default-hover);
  }

  &[data-focus-visible] {
    outline: none;
    --offset: calc(var(--wds-size-stroke-border) * 2);
    &::before {
      content: "";
      border-radius: calc(var(--border-radius) + var(--offset));
      bottom: calc(-1 * var(--offset));
      box-shadow: 0 0 0 var(--global-focus-ring-size)
        var(--global-focus-ring-color);
      left: calc(-1 * var(--offset));
      position: absolute;
      right: calc(-1 * var(--offset));
      top: calc(-1 * var(--offset));
    }
  }

  &.navigation-button-direction-column {
    flex-direction: column;
  }

  &.navigation-button-direction-row {
    flex-direction: row;
  }

  &.navigation-button-size-small {
    font: var(--wds-font-body-small-strong);
  }

  &.navigation-button-size-medium {
    font: var(--wds-font-body-base);
  }
}
