.list-box {
  --list-box-item-template-areas: "label" "description";
  background: var(--wds-color-background-default-default);
  border-radius: var(--wds-size-radius-200);
  box-shadow:
    0 0 0 var(--wds-size-stroke-border) var(--wds-color-border-default-default),
    var(--wds-effects-shadows-drop-shadow-400);
  display: flex;
  flex-direction: column;
  outline: none;
  overflow-y: auto;
  padding: var(--wds-size-space-200);

  &[data-orientation="horizontal"],
  &[data-layout="grid"] {
    align-items: center;
    flex-direction: row;
    width: fit-content;
    max-width: 100%;
  }

  .list-box-item:has([slot="image"]):not(:has(:only-child)) {
    --list-box-item-template-areas: "image ." "image label" "image description"
      "image .";
  }

  &[data-layout="grid"][data-orientation="vertical"]
    .list-box-item:not(:has(:only-child)) {
    --list-box-item-template-areas: "label" "description";
    &:has([slot="image"]) {
      --list-box-item-template-areas: "image" "label" "description";
    }
  }

  .list-box-item:has(:only-child) {
    --list-box-item-template-areas: "only-child";
    > :only-child {
      grid-area: only-child;
    }
  }

  &[data-layout="grid"] {
    display: grid;
    grid-template-columns: auto auto;
    scrollbar-gutter: stable;
  }

  &[data-orientation="horizontal"] {
    width: 100%;
    max-width: none;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: none;
    grid-auto-columns: auto;
  }
}

.list-box-item {
  --list-box-label-color: var(--wds-color-text-default-default);
  --list-box-description-color: var(--wds-color-text-default-secondary);
  --list-box-icon-color: var(--wds-color-icon-default-default);

  align-items: center;
  background-color: transparent;
  border-radius: var(--wds-size-radius-200);
  color: var(--list-box-label-color);
  column-gap: var(--wds-size-space-200);
  cursor: pointer;
  display: grid;
  grid-template-areas: var(--list-box-item-template-areas);
  grid-template-columns: auto 1fr;
  padding: var(--wds-size-space-200) var(--wds-size-space-200);

  > .icon {
    --icon-color: var(--list-box-icon-color);
    opacity: 0;
  }

  [slot="label"] {
    grid-area: label;
    text-wrap: nowrap;
  }
  [slot="description"] {
    grid-area: description;
    text-wrap: nowrap;
  }
  [slot="image"] {
    grid-area: image;
    height: auto;
  }

  &[data-selected] > .icon {
    opacity: 1;
  }

  &[data-disabled] {
    color: var(--wds-color-text-disabled-default);
  }

  &[data-focused] {
    --list-box-label-color: var(--wds-color-text-brand-on-brand);
    --list-box-description-color: var(--wds-color-text-brand-on-brand);
    --list-box-icon-color: var(--wds-color-icon-brand-on-brand);

    background-color: var(--wds-color-background-brand-default);
    outline: none;
  }
}
