/* Responsive default */
:root {
  --wds-responsive-display-flex-to-none: flex;
  --wds-responsive-display-none-to-flex: none;
  --wds-responsive-ratio-column-full: 1;
  --wds-responsive-ratio-column-half: 2;
  --wds-responsive-ratio-column-quarter-major: 4;
  --wds-responsive-ratio-column-quarter-minor: 4;
  --wds-responsive-ratio-column-third-major: 3;
  --wds-responsive-ratio-column-third-minor: 3;
}
/* Responsive tablet */
@media (min-width: 600px) {
  :root {
    --wds-responsive-display-flex-to-none: flex;
    --wds-responsive-display-none-to-flex: none;
    --wds-responsive-ratio-column-full: 1;
    --wds-responsive-ratio-column-half: 1;
    --wds-responsive-ratio-column-quarter-major: 2;
    --wds-responsive-ratio-column-quarter-minor: 2;
    --wds-responsive-ratio-column-third-major: 3;
    --wds-responsive-ratio-column-third-minor: 3;
  }
}
/* Responsive desktop */
@media (min-width: 1024px) {
  :root {
    --wds-responsive-display-flex-to-none: none;
    --wds-responsive-display-none-to-flex: flex;
    --wds-responsive-ratio-column-full: 1;
    --wds-responsive-ratio-column-half: 1;
    --wds-responsive-ratio-column-quarter-major: 3;
    --wds-responsive-ratio-column-quarter-minor: 1;
    --wds-responsive-ratio-column-third-major: 2;
    --wds-responsive-ratio-column-third-minor: 1;
  }
}
